.sbarposition {

   display: flex;
   justify-content: center; 

}

#firsttext {

    display: flex;
    justify-content: center;
    margin: 0px;

}

.leftbox{

    width: 200px;

}

.search {
    background-color: rgba(229, 224, 224, 0.715);
    justify-content: center;
}

.container {
    display: flex; /* Flexbox'u aktif ediyoruz */
    flex-direction: column; /* Öğeleri dikeyde sıralanmasını sağlıyoruz */
    align-items: center; /* Öğeleri yatayda ortalar */
    justify-content: center; /* Öğeleri dikeyde ortalar */
  }
  
  .buttons-container {
    display: flex; /* Flexbox'u aktif ediyoruz */
    align-items: center; /* Öğeleri yatayda ortalar */
    justify-content: center; /* Öğeleri dikeyde ortalar */
    
  }

  ol, li {

    list-style-type: none;
  }

  .boxone {

    background-color:#7EE5DA;
    width: 500px;
    height: 76px;
    float: left;
    margin-left: 100px;
   
       

  }

  .boxtwo {
  
    background-color:#70CCC2;
    width: 280px;
    height: 76px;
    float: left;
    margin-left: 2px;
    justify-content: center;
    align-items: center;
    

  }

  .boxthree {

    background-color:#62B3AA;
    width: 650px;
    height: 76px;
    float: left;
    margin-left: 2px;
    margin-top: 0px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    

  }
  
  .container-two {

    display: flex;
    

  }

  .size13 {

    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 7vh;
    padding-left: 5px;
    

  }

  .listspec {

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  #inc{

    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    display: flex;
    justify-content: center;
   

}

  